*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
*.swp
Manifest.toml
*.dat
*.mem
*.o
*.mod
fortran/uapic2d
fortran/efd
fortran/bupdate
fortran/*.dSYM/
*.h5
*.xmf
fortran/uapic3d
fortran/test_pic_3d
fortran/test_poisson_3d
Manifest.toml
fortran/test_3d
